body {
	font-family: fantasy;
	background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQrbH60ymeyBEUPf-OP57iuInM1Cydi1fwe1AWBMP0QN6N9wjuPYQ');
}

h1 {
	color: rgb(246, 252, 12);
    font-size: 300%;
    text-align: center;
}

ul {
	text-align: justify;
}
ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}
ul:before {
    content: '';
    display: block;
    margin-top: -1.25em;
}
a {
    display: inline-block;
    margin-right: -.25em;
    position: relative;
    top: 1.25em;
}

p {
	color: rgb(231, 22, 86);
    text-align: center;
    font-size: 250%;
    padding-top: 3%;
}

#Winner {
    color: white;
    font-size: 300%;
    text-align: center;
    margin-top: -60px;
}